header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }

  .post-box{
      border: solid 2px rgb(199, 199, 199);
      margin-bottom: 30px;
      border-radius: 5px 5px 5px;
  }

  .post-header{
      padding: 20px 0px 5px 20px;
      background-image: url(https://static.vecteezy.com/system/resources/previews/002/070/955/large_2x/template-abstract-banner-web-white-and-gray-overlap-layer-dimension-with-lighting-on-clean-background-vector.jpg);
      border-radius: 5px 5px 0px 0px;
      border-bottom: #37a5d8 solid 3px;
  }

  .post-content{
      margin-top: 30px;
      margin-bottom: 30px;
  }

  .nav-header{
      padding-left: 15px;
  }

  .post-comment{
    background-color: rgb(248, 248, 248);
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
  }

  .comm-btn{
    background-color: #37a5d8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
  }